<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% include head.html %}
  <link rel="stylesheet" href="{{ "css/navbar.css" | prepend: site.url }}">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}">Methods 3 – Fall 2016</a>
      <a class="navbar-brand" href="{{ site.url }}about.html">About</a>
    </div>
  </nav>

  <div id="main" class="container">

    <div class="header">
      <h1>Methods 3 – Fall 2016 – Student Projects</h1>
      <p class="lead">
        Final projects for <a href="http://sds.parsons.edu/designurbanecologies/" target="_blank">Design and Urban Ecologies</a>, Methods 3.
      </p>
      <hr>
    </div>

    <div class="grid-wrapper">
      {{ content }}
    </div>

    {% include footer.html %}

  </div>
</body>
</html>
